.page-title{
    font-size: 30px;
    line-height: 42px;
}
/* ===== Filter Section Start ===== */
.filter fieldset{
    border: none;
}
.filter legend{
    font-size: 24px;
    line-height: 30px;
}
.filter ul{
    line-height: 18px;
}
.filter-input:hover + label,
.filter-input:focus + label{
    color: #663d15;
}
.filter-input:disabled + label{
    color: #000;
    opacity: 0.5;
}
/* ===== Filter Section End ===== */

/* ===== Catalog Section Start ===== */
.catalog-item{
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.catalog-item:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.catalog-item a{
    color: #000;
}
.catalog-item h3{
    font-size: 14px;
    line-height: 18px;
}
.catalog-category{
    text-transform: none;
}
.catalog-item-price b{
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    background-color: #e5e5e5;
}
.catalog-item-price .button{
    line-height: 20px;
    color: #fff;
}
/* ===== Catalog Section End ===== */