
.main-header-logo{
    width: 368px;
    height: 153px;
    margin: 0 auto 75px;
}
/* =====Features Section Start ===== */
.features{
    margin-bottom: 80px;
} 
.features-list{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.features-item{
    width: 300px;
    text-align: center;
}
.features-item h3{
    position: relative;
    margin: 0;
    margin-bottom: 60px;
    font-size: 30px;
    line-height: 42px;
}
.features-item h3::after{
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    background-color: #fff;
    transform: rotate(45deg);    
}
.features-item p{
    margin: 0 10px;
}
/* ===== Features Section End ===== */

.index-columns{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    padding: 50px 80px;
    color: #000;
    background-color: #f8f5f2;
    background-image: url(../img/pattern-light.jpg);
    background-repeat: repeat;
}
.index-columns h2{
    font-size: 30px;
    line-height: 42px;
}
/* ===== News Section Start ===== */
.news{
    width: 380px;
}

.news-list time{
    text-transform: none;
}
/* ===== News Section End ===== */

/* ===== Gallery Section Start ===== */
.gallery{
    width: 300px;
}
.gallery-content{
    background-color: #ccc;
    border: 7px solid #fff;
}
/* ===== Glery Sectionn End ===== */

/* ===== Contact Section Start ===== */
.contacts{
    width: 380px;
}
/* ===== Contacts Section End ===== */

/* ===== Appointmant Section Start ===== */
.appointmant{
    width: 300px;
}
.appointmant-item input{
    font: inherit;
    background-color: transparent;
    border: 2px solid #000;
}
.appointmant-item input:focus{
    border-color: #663d15 ;
    outline: none;
}
/* ===== Appointmant Section End ===== */